@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
}

div[data-overlay-container] {
  height: 100%;
  width: 100%;
}

[data-component="MarketChooser"] [data-slot="tabList"] {
  flex-wrap: wrap !important;
  padding: 8px;
}

[data-component="MarketChooser"] [data-slot="tabList"] button {
  width: auto !important;
}
